@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1544px */

/* @layer base {
    ul, ol {
      list-style: revert;
    }
  } */

@layer base {
    body {
        background: #1a242f;
        padding: 0;
        margin: 0;
        color: white;
    }
    #root {
        font-family: 'Open Sans', sans-serif;
        background: #1a242f;
    }
    input,
    textarea {
        width: 100%;
        padding: 1rem;
        border-radius: 12px;
        background: #1a242f;
        color: white;
    }

    h1 {
        @apply text-6xl font-semibold mt-1 mb-1;
    }

    h2 {
        @apply text-5xl font-semibold mt-1 mb-1;
    }

    h3 {
        @apply text-4xl font-semibold mt-1 mb-1;
    } 

    h4 {
        @apply text-3xl font-semibold mt-1 mb-1;
    }

    h5 {
        @apply text-2xl font-semibold mt-1 mb-1;
    }

    h6 {
        @apply text-xl font-semibold mt-1 mb-1;
    }

    caption {
      @apply italic font-semibold w-max
    }

    /* Scroll bar design */
    * {
        scrollbar-width: thin;
        scrollbar-color: #42566b;
      }
      
      /* Chrome, Edge, and Safari */
      *::-webkit-scrollbar {
        width: 4px;
      }
      
      *::-webkit-scrollbar-track {
        background: #0f1821;
        border-radius: 1px;
      }
      
      *::-webkit-scrollbar-thumb {
        background-color: #0f1821;
        border-radius: 14px;
        border: 1px solid #42566b;
      }
      

}
